# Microsoft (MSFT) Daily Trading 

This example goes through the different ways to understanding data you are presented with. We'll go over some summary statistics, and some fun visualizations.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_pickle("MSFT.pkl")
df.head(10)

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101562  0.088542  0.097222   0.062378  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.064606   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.065720   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.064049    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.062935    47894400
5  1986-03-20  0.098090  0.098090  0.094618  0.095486   0.061264    58435200
6  1986-03-21  0.095486  0.097222  0.091146  0.092882   0.059594    59990400
7  1986-03-24  0.092882  0.092882  0.089410  0.090278   0.057923    65289600
8  1986-03-25  0.090278  0.092014  0.089410  0.092014   0.059037    32083200
9  1986-03-26  0.092014  0.095486  0.091146  0.094618   0.060707    22752000

## Understanding the dataset
- `Date`: Specific trading date 
- `Open`: The opening price
- `High`: The maximum price during the trading hours
- `Low`: The lowest price during the trading hours
- `Close`: The closing price
- `Adj Close`: The adjusted closing price. Adjusted based on a bunch of factors to reflect change in stock value caused by new offerings from the corporation.
- `Volume`: The number of shares that changed hands during a given day

## Task: How has the MSFT performed over the years?
Solution: Plot those point on a graph and just look at the price fluctions. 

### Steps
1. Is the data appropriate for completing the task?
2. Cleaning data
3. Feature Engineering: are there any additional features you want to add to the dataset to help you make visulaizations easier?
4. Visulaizations